page-ride-mates-modal {
  .toolbar-background {
    background: #8AC349;
  }
  .toolbar-title {
    color: #fff;
    font-size: 20px;
  }
  .header-icon {
    color: #fff;
    font-size: 24px;
    padding: 10px;
  }
  .main {
    background-color: #ECEAEC;
    .img-icons {
      width: 24px;
    }
  }
}
